/* tiles */
img.tile {
    position:absolute;
    transform-origin:0 0;
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -o-transform-origin:0 0;

    opacity: 0;

    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
}

img.tile-loaded {
    opacity: 1;
}
img.tile-removing {
    opacity: 0;
}

use { pointer-events: none; }

/* base styles */
.layer-osm path:not(.oneway) { fill: none; }     /* IE needs :not(.oneway) */

/* the above fill: none rule affects paths in <use> shadow dom only in Firefox */
.layer-osm use.icon path { fill: #333; }                       /* FF svg Maki icons */
.layer-osm .turn use path { fill: #000; }                      /* FF turn restriction icons */
#turn-only-shape2, #turn-only-u-shape2 { fill: #7092FF; }  /* FF turn-only, turn-only-u */
#turn-no-shape2, #turn-no-u-shape2     { fill: #E06D5F; }  /* FF turn-no, turn-no-u */
#turn-yes-shape2, #turn-yes-u-shape2   { fill: #8CD05F; }  /* FF turn-yes, turn-yes-u */

g.point .shadow,
g.vertex .shadow,
g.midpoint .shadow {
    pointer-events: all;
}

path.shadow {
    pointer-events: stroke;
}


/* points */

g.point .stroke {
    stroke: #444;
    stroke-width: 1;
    fill: #fff;
}

g.point .shadow {
    fill: none;
    stroke: #f6634f;
    stroke-width: 8;
    stroke-opacity: 0;
}

g.point.hover:not(.selected) .shadow {
    stroke-opacity: 0.5;
}

g.point.selected .shadow {
    stroke-opacity: 0.7;
}

g.point.active, g.point.active * {
    pointer-events: none;
}

/* vertices and midpoints */

g.vertex .fill {
    fill: #000;
}

g.vertex .stroke {
    stroke: #666;
    stroke-width: 1;
    fill: white;
}

g.vertex.shared .stroke {
    fill: #aaa;
}

g.midpoint .fill {
    fill: #eee;
    stroke: #444;
    stroke-opacity: .6;
    opacity: .7;
}

g.vertex .shadow,
g.midpoint .shadow {
    fill: #f6634f;
    fill-opacity: 0;
}

g.vertex.vertex-hover {
    display: none;
}

.mode-draw-area g.vertex.vertex-hover,
.mode-draw-line g.vertex.vertex-hover,
.mode-add-area  g.vertex.vertex-hover,
.mode-add-line  g.vertex.vertex-hover,
.mode-add-point g.vertex.vertex-hover,
.mode-drag-node g.vertex.vertex-hover {
    display: block;
}

g.vertex.hover:not(.selected) .shadow,
g.midpoint.hover:not(.selected) .shadow {
    fill-opacity: 0.5;
}

g.vertex.selected .shadow {
    fill-opacity: 0.7;
}

.mode-draw-area g.midpoint,
.mode-draw-line g.midpoint,
.mode-add-area g.midpoint,
.mode-add-line g.midpoint,
.mode-add-point g.midpoint {
  display: none;
}

/* lines */

.preset-icon .icon.other-line {
    color: #fff;
    fill: #777;
}

path.line {
    stroke-linecap: round;
    stroke-linejoin: bevel;
}

path.stroke {
    stroke: #000;
    stroke-width: 4;
}

path.shadow {
    stroke: #f6634f;
    stroke-width: 10;
    stroke-opacity: 0;
}

path.shadow.hover:not(.selected) {
    stroke-opacity: 0.4;
}

path.shadow.selected {
    stroke-opacity: 0.7;
}

path.line.stroke {
    stroke: rgb(224, 110, 95);
    stroke-width: 2;
}

path.area.stroke {
    stroke: rgb(224, 110, 95);
    stroke-width: 1;
}
path.area.fill {
    stroke-width: 0;
    stroke: rgba(224, 110, 95, 0.3);
    fill: rgba(224, 110, 95, 0.3);
    fill-rule: evenodd;
}


.preset-icon-fill-area {
    border-color: rgba(224, 110, 95, 0.3);
    background-color: rgba(224, 110, 95, 0.3);
}






.preset-icon .icon {
    color: rgb(224, 110, 95);
}

path.casing {
    stroke: rgb(196, 189, 25) !important;
    stroke-width: 6 !important;
}

path.stroke,
path.stroke {
    stroke: rgb(224, 110, 95) !important;
}
path.fill {
    stroke: rgba(224, 110, 95, 0.3) !important;
    fill: rgba(224, 110, 95, 0.3) !important;
}

.preset-icon-fill-area {
    border-color: rgb(224, 110, 95) !important;
    background-color: rgba(224, 110, 95, 0.3) !important;
}




/* Labels / Markers */

text {
    font-size:10px;
    pointer-events: none;
    color: #222;
    opacity: 1;
}



text.arealabel-halo,
text.linelabel-halo,
text.pointlabel-halo,
text.arealabel,
text.linelabel,
text.pointlabel {
    font-size: 12px;
    font-weight: bold;
    fill: #333;
    text-anchor: middle;
    pointer-events: none;
    -webkit-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
    -moz-transition: opacity 100ms linear;
}

.linelabel-halo .textpath,
.linelabel .textpath {
  dominant-baseline: middle;
}

/* Opera doesn't support dominant-baseline. See #715 */
.opera .linelabel-halo .textpath,
.opera .linelabel .textpath {
  baseline-shift: -33%;
  dominant-baseline: auto;
}

.layer-halo text {
    opacity: 0.7;
    stroke: #fff;
    stroke-width: 5px;
    stroke-miterlimit: 1;
}

text.proximate {
    opacity: 0;
}

text.point {
  font-size: 10px;
}

/* Turns */

g.turn rect,
g.turn circle {
    fill: none;
    pointer-events: all;
}

.form-field-restrictions .vertex {
    pointer-events: none;
    cursor: auto !important;
}

/* Cursors */

.map-in-map,
#map {
    cursor: auto; /* Opera */
    cursor: url(img/cursor-grab.png) 9 9, auto; /* FF */
}

.mode-browse .point,
.mode-select .point {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-point.png), pointer; /* FF */
}

.mode-select .vertex,
.mode-browse .vertex {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-vertex.png), pointer; /* FF */
}

.mode-browse .line,
.mode-select .line {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-line.png), pointer; /* FF */
}

.mode-select .area,
.mode-browse .area {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-area.png), pointer; /* FF */
}

.mode-select .midpoint,
.mode-browse .midpoint {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-split.png), pointer; /* FF */
}

.mode-select .behavior-multiselect .point,
.mode-select .behavior-multiselect .vertex,
.mode-select .behavior-multiselect .line,
.mode-select .behavior-multiselect .area {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-add.png), pointer; /* FF */
}

.mode-select .behavior-multiselect .selected {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-remove.png), pointer; /* FF */
}

#map .point:active,
#map .vertex:active,
#map .line:active,
#map .area:active,
#map .midpoint:active,
#map .mode-select .selected {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-select-acting.png), pointer; /* FF */
}

.mode-draw-line #map,
.mode-draw-area #map,
.mode-add-line  #map,
.mode-add-area  #map,
.mode-drag-node #map {
    cursor: crosshair; /* Opera */
    cursor: url(img/cursor-draw.png) 9 9, crosshair; /* FF */
}

.mode-draw-line .way.hover,
.mode-draw-area .way.hover,
.mode-add-line  .way.hover,
.mode-add-area  .way.hover,
.mode-drag-node .way.hover {
    cursor: crosshair; /* Opera */
    cursor: url(img/cursor-draw-connect-line.png) 9 9, crosshair; /* FF */
}

.mode-draw-line .vertex.hover,
.mode-draw-area .vertex.hover,
.mode-add-line  .vertex.hover,
.mode-add-area  .vertex.hover,
.mode-drag-node .vertex.hover {
    cursor: crosshair; /* Opera */
    cursor: url(img/cursor-draw-connect-vertex.png) 9 9, crosshair; /* FF */
}

.mode-add-point #map,
.mode-browse.lasso #map,
.mode-browse.lasso .way,
.mode-browse.lasso .vertex,
.mode-browse.lasso .midpoint,
.mode-select.lasso #map,
.mode-select.lasso .way,
.mode-select.lasso .vertex,
.mode-select.lasso .midpoint {
    cursor: crosshair; /* Opera */
    cursor: url(img/cursor-draw.png) 9 9, crosshair; /* FF */
}

.turn rect,
.turn circle {
    cursor: pointer; /* Opera */
    cursor: url(img/cursor-pointer.png) 6 1, pointer; /* FF */
}

.lasso #map {
    pointer-events: visibleStroke;
}


/* Modes */

.mode-draw-line .vertex.active,
.mode-draw-area .vertex.active,
.mode-drag-node .vertex.active {
    display: none;
}

.mode-draw-line .way.active,
.mode-draw-area .way.active,
.mode-drag-node .active {
    pointer-events: none;
}

/* Ensure drawing doesn't interact with area fills. */
.mode-add-point .area.fill,
.mode-draw-line .area.fill,
.mode-draw-area .area.fill,
.mode-add-line .area.fill,
.mode-add-area .area.fill,
.mode-drag-node .area.fill {
    pointer-events: none;
}


/* Fill Styles */
.low-zoom.fill-wireframe path.stroke,
.fill-wireframe path.stroke {
    stroke-width: 1;
    stroke-opacity: 0.5;
    stroke-dasharray: none;
    fill: none;
}

.low-zoom.fill-wireframe path.shadow,
.fill-wireframe path.shadow {
    stroke-width: 8;
}

.fill-wireframe path.shadow.hover:not(.selected) {
    stroke-opacity: 0.4;
}
.fill-wireframe path.shadow.selected {
    stroke-opacity: 0.6;
}

.fill-wireframe .point,
.fill-wireframe .areaicon,
.fill-wireframe path.casing,
.fill-wireframe path.fill,
.fill-wireframe path.oneway {
    display: none;
}

.fill-partial path.fill {
    fill-opacity: 0;
    stroke-width: 60px;
    pointer-events: visibleStroke;
}
